<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="!DOCTYPE5.css">
<style>
td{
text-align: center;
}
.head1{
font-size:40px;
color: beige;
font-weight: bold;
}
.head2{
font-size:17px;
margin-left:10px;
margin-bottom:15px;
}
.menu{
position: sticky;
top:0%;
background-color: blue;
padding:10px 0px 10px 0px;
color: crimson;
margin:0auto;
overflow: hidden;
}
.menu a{
float: left;
color: white;
text-align: center;
padding:14px 16px;
text-decoration: none;
font-size:20px;
}.menu-log{
right: auto;
float: right;
}
footer{
width:100%;
bottom:0px;
background-color: darkblue:
color; blue:
position: absolute;
padding-top:20px;
padding-bottom:50px;
text-align: center;
font-size: 30px;
font-weight: bold;
}
.body_sec{
margin-left:20px;
}
</style>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>who we are</title>
</head>
<body>
<!--header section-->
<header>
<header style="background-color: blue; color: #ffffff; text-align: center; padding:20px;">
<div class="head1">
World Health Organization
</header>
<header>
<header style= "text-align: center">
</div>
<div class="head2">
Healthy citizens are the greatest asset any country can have
<header style="text-align: center;">
<header style="font-family=algerian">first step for better future 
</div>
</header>
<!--menu navigation bar-->
<nav class="menu">
<a href="style.html">Home</a>
<a href="about.html">About WHO</a>
<a href="table.html">Classifications</a>
<a href="review.html">Review</a>
</nav>

    <h1><div id="PageContent_TA51A0481002_Col00" class="sf_colsIn container" data-sf-element="Container" data-placeholder-label="Container">


<!--noindex--><!--stopindex-->
<div>
    <ul class="sf-breadscrumb breadcrumb">
                <li><a href="ype.html">Home</a><span>/</span>
                <a href="/about">About WHO</a><span>/</span>
                <class="active">Who we are</li>
    </ul>
</div>
<!--/noindex--><!--startindex-->

<script type="application/ld+json">
    {"itemListElement":[{"@type":"ListItem","position":1,"item":{"@id":"https://www.who.int","name":"Home"}},{"@type":"ListItem","position":2,"item":{"@id":"https://www.who.int/about","name":"About WHO"}},{"@type":"ListItem","position":3,"item":{"@id":"https://www.who.int/about/who-we-are","name":"Who we are"}}],"itemListOrder":"ItemListOrderAscending","@context":"http://schema.org","@type":"BreadcrumbList"}
</script>

</div></h1>
    <img src="C:\Users\ASUS\OneDrive\Pictures\Screenshots\Screenshot 2024-05-18 091639.png" alt="Description of image" width="1250" height="700">

<div id="PageContent_C079_Col00" class="sf_colsIn container" data-sf-element="Container" data-placeholder-label="Container"><div class="row" data-sf-element="Row">
    <div id="PageContent_C083_Col00" class="sf_colsIn col-md-3 empty" data-sf-element="Column 1" data-placeholder-label="Column 1"></div>
    <div id="PageContent_C083_Col01" class="sf_colsIn col-md-6" data-sf-element="Column 2" data-placeholder-label="Column 2">


<div class="sf-content-block content-block">
    <div><p style="font-size:6px;text-align:center;">&nbsp;</p><h2 style="text-align:center;color:#008dc9;text-align:center;">We are champions for healthier, safer lives</h2><p style="text-align:center;">Our team of 8000+ professionals includes the world’s leading public health experts, including doctors, epidemiologists, scientists and managers. Together, we coordinate the world’s response to health emergencies, promote well-being, prevent
    disease and expand access to health care. By connecting nations, people and partners to scientific evidence they can rely on, we strive to give everyone an equal chance at a safe and healthy life. </p><p>&nbsp;</p><p>&nbsp;</p></div>   
</div>

    </div>

 <table border="1">
        <tr>
            <th><img src="C:\Users\ASUS\OneDrive\Pictures\wheel.jpg" width="300" height="200></th>
<th><img src="C:\Users\ASUS\OneDrive\Pictures\wheel.jpg"</th>
            <th><img src="C:\Users\ASUS\OneDrive\Pictures\book.jpg" width="300" height="200"></th>
<th><img src="C:\Users\ASUS\OneDrive\Pictures\assembly.jpg" width="300" height="200"></th>
        </tr>
        <tr>
            <td><a href="/about/structure">Secretariat</a></td>
            <td><a href="/countries">Member States</a></td>
            <td><a href="/about/accountability/governance/world-health-assembly">World Health Assembly</a></td>
        </tr>
        <tr>
            <td>WHO’s Secretariat includes experts, staff and field workers at our Geneva-based headquarters, 6 Regional Offices and other stations located in 150+ countries around the world.


</td> 
<td>WHO works with all Member States to support them to achieve the highest standard of health for all people. Our staff working in countries advise ministries of health and other sectors on public health issues and provide support to plan, implement and monitor health programmes.


</td> 
<td>The World Health Assembly is WHO’s highest level decision-making forum. Every year, delegates from all Member States convene at the World Health Assembly to set priorities and chart a course for global health progress.

.


</td>
        </tr>
<tr>
<td></td>
    </table>


   <div class="sf-content-block content-block">
    <div><p style="font-size:10px;text-align:center;">&nbsp;</p></div>   
</div>

</div>
<div class="row" data-sf-element="Row">
    <div id="PageContent_C095_Col00" class="sf_colsIn col-md-12" data-sf-element="Column 1" data-placeholder-label="Column 1"><div id="PageContent_C097_Col00" class="sf_colsIn bg-light-gray" data-sf-element="Background widget" data-placeholder-label="Background widget">
<div class="background-url-holder" data-color="bg-light-gray">
</div>

<div class="row" data-sf-element="Row">
    <div id="PageContent_C099_Col00" class="sf_colsIn col-md-6" data-sf-element="Column 1" data-placeholder-label="Column 1">


<div class="sf-content-block content-block">
    <div><div class="img-wrapper"><img alt="WHO Director-General and Regional Director for SEARO greet each other by joining their palms and bow their heads." src="https://cdn.who.int/media/images/default-source/about-us/eb144-dg-rd-searo.jpg?sfvrsn=c8fe06f1_4" weidth="1700" height="700" sf-size="272646"></div></div>   
</div>

    </div>
    <div id="PageContent_C099_Col01" class="sf_colsIn col-md-6" data-sf-element="Column 2" data-placeholder-label="Column 2"><div id="PageContent_C101_Col00" class="sf_colsIn container" data-sf-element="Container" data-placeholder-label="Container"><div class="row" data-sf-element="Row">
    <div id="PageContent_C102_Col00" class="sf_colsIn col-md-1 empty" data-sf-element="Column 1" data-placeholder-label="Column 1"></div>
    <div id="PageContent_C102_Col01" class="sf_colsIn col-md-9" data-sf-element="Column 2" data-placeholder-label="Column 2">


<div class="sf-content-block content-block">
    <div><p>&nbsp;</p><h2>Our leadership team</h2><p>With strong connections between offices, WHO works on the front lines in 150+ locations across 6 regions. WHO’s Director-General outlines the vision and oversees all our international health work whilst our Regional Directors lead the work of
    the 6 Regional Offices and their country offices. The Regional Directors work closely with the Director-General to implement strategies and programmes across all levels of the Organization.<br></p><div class="arrowed-link"><a href="/director-general">Director-General</a></div><div class="arrowed-link"><a href="/director-general/regional-directors">Regional Directors</a></div><div class="arrowed-link"><a href="/director-general/who-headquarters-leadership-team">Headquarters senior leadership</a></div></div>   
</div>

    </div>
    <div id="PageContent_C102_Col02" class="sf_colsIn col-md-2 empty" data-sf-element="Column 3" data-placeholder-label="Column 3"></div>
</div>

</div>

    </div>
</div>

</div>

    </div>
</div>
</body>
</html>
