body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.background-container {
    background-image: url('sn.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.reference-classifications {
    display: flex;
    justify-content: space-around;
    align-items: center;
text-align: center;
    padding: 20px;
}

.classification {
    text-align: center;
    margin: 20px;
}

.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    margin-bottom: 10px;
}

.icd {
    background-color: #002366; 
}

.icf {
    background-color: #ff0000; 
}

.ichi {
    background-color: #8b0000; 
}

p {
    max-width: 200px;
    margin: 0 auto;
color: white;
font-weight: bold;
}
